<p-table #cititesTable [columns]="cols" [value]="cities" [lazy]="true" (onLazyLoad)="lazyLoadCities($event)"
    [paginator]="true" [rows]="10" [totalRecords]="totalRecords" selectionMode="single" [(selection)]="selectedCity"
    (onRowSelect)="onCitySelect()">

    <ng-template pTemplate="caption">
        <!-- <div class="p-d-flex">
            <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event)" placeholder="Search City"
                    [(ngModel)]="searchText" />
            </span>
        </div> -->

        <div class="input-group">
            <input pInputText class="form-control border-end-0 border rounded-pill" type="text"
                (input)="applyFilterGlobal($event)" placeholder="Search City" [(ngModel)]="searchText" />
            <span class="input-group-append">
                <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3"
                    type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                <span [innerHtml]="rowData[col.field] | highlight : [searchText]"></span>
            </td>
        </tr>
    </ng-template>
</p-table>